.p-dd{
  padding: 5.5px 20.5px;
}
.trsspn{
  transition: 0.8s;
}
.active{
  font-weight: bold;
}
.activegr{
  font-weight: bold;
  color: #46A358;
}
.p-flex{
  padding: 68px 0 0 43px;
}
.shadow1{
  box-shadow: 0 0 20px 0 #0000000F;
}